*{
    margin: 0;
}

:root{
    --surface:#FCFBFC;
    --btn:#000;
    --green-btn:#8AAE27;
    --main:#8AAE27;
    --black-txt:#000;
    --white:#fff;
    --title:#000;
    --green-txt:#8AAE27;
    --border:0.2px solid grey;
    --card-bg:#fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

nav {
  width: 100%;
  height: 70px;
  background: var(--surface);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #e5e5e5;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: var(--black-txt);
}

.language {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.avatar img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid var(--green-btn);
  object-fit: cover;
}
.avatar a{
  text-decoration: none;

}
.signup-btn{
  text-decoration: none;
  background-color: var(--main); 
  color: white;
  padding: 5px 7px;
  border-radius: 5px;
}
.signup-btn a{
  text-decoration: none;
    color: white;
}
