* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
}

/* ===== HERO =hero==== */
.hero {
  background-image: url('https://i.pinimg.com/1200x/db/cd/1d/dbcd1dd88f1f3b4a2f391921c82a77e2.jpg');
  color: #fff;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.phone-btn {
  background: #2e4a70;
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

.hero-content {
  width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  text-align: center;
  height: 100vh;
  background-image: url('https://i.pinimg.com/1200x/db/cd/1d/dbcd1dd88f1f3b4a2f391921c82a77e2.jpg');


}

.hero-content h1 {
  font-size: 2.6rem;
  margin-bottom: 20px;
  margin-top: 0;
  color: white;
}
.hero-content p{
    color: white;
    margin-bottom: 30px;
}

.primary-btn {
  display: inline-block;
  margin-top: 25px;
  background: #2e4a70;
  padding: 14px 28px;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  width: 30%;
    margin: 0 auto;
}

/* ===== SECTIONS ===== */
section {
  padding: 80px 8%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #2e4a70;
}

/* ===== NEWS ===== */
.news ul {
  margin: auto;
  list-style: none;
  display: flex;
  
  
}
.news ul li{
    margin: 20px;
    background-color: #2e4a70;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 10px;
}

/* ===== ABOUT ===== */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}

.card {
  background: #f7fafa;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

/* ===== MESSAGE ===== */
.message {
  background: #e9f6f5;
  text-align: center;
}

/* ===== SERVICES ===== */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  gap: 25px;
}

.service-box {
  border: 1px solid #e0eeee;
  padding: 25px;
  border-radius: 15px;
}

/* ===== GALLERY ===== */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}

/* ===== CONTACT ===== */
.contact-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 25px;
  margin: 30px 0;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 15px;
}

/* ===== FOOTER ===== */
.footer {
  background: #2e4a70;
  color: #fff;
  text-align: center;
  padding: 20px;
}
